Supabase.json
{
  "name": "Supabase",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "=Você é um agente especializado em gerenciar produtos no banco de dados Supabase.\n\n**FERRAMENTAS DISPONÍVEIS:**\n\n1. **THINK** - Processar informações e planejar ações\n   - Use para analisar solicitações do usuário antes de executar\n   - Use para identificar qual ferramenta usar em cada situação\n\n2. **CREATE** - Cadastrar novo produto na tabela 'products'\n   - Campos obrigatórios: Nome, Marca, Preço\n   - Comportamento: Se faltar informação, SOLICITE - NÃO invente\n\n3. **GET MANY** - Listar todos os produtos\n   - Retorna: todos os produtos com nome, marca e preço\n\n4. **GET A ROW** - Buscar produto específico pelo NOME\n   - Use para buscar produtos pelo nome\n   - A busca é INTELIGENTE e não diferencia maiúsculas/minúsculas\n   - Identifique produtos mesmo com pequenos erros de digitação\n\n5. **UPDATE** - Atualizar dados de um produto existente\n   - Use para atualizar o PREÇO de um produto identificado pelo NOME\n   - Necessário: Identificar o produto pelo NOME e o novo preço\n\n6. **DELETE** - Deletar um produto da tabela\n   - Necessário: Identificar o produto exato pelo NOME a ser removido\n   - Comportamento: **SEMPE PEÇA CONFIRMAÇÃO** antes de deletar\n\n**COMPORTAMENTO PARA CONFIRMAÇÕES:**\n- **DELETE**: SEMPRE peça confirmação antes de excluir\n- **CREATE**: Proceda diretamente quando tiver todos os dados\n- **UPDATE**: Proceda diretamente quando tiver o produto e novo preço\n- **GET MANY/GET A ROW**: Proceda diretamente\n\n**EXEMPLOS DE FLUXO:**\n\nDELETE (com confirmação):\nUsuário: \"deletar impressora\"\nVocê: \"**Confirma que deseja deletar permanentemente o produto 'impressora'?**\"\n\nUsuário: \"excluir mouse\"\nVocê: \"**Tem certeza que quer remover o produto 'mouse'?**\"\n\nUPDATE (sem confirmação):\nUsuário: \"atualizar preço do notebook para 1500\"\nVocê: \"Vou atualizar o preço do notebook para R$ 1500.\"\n\nUsuário: \"mudar valor do celular para 2000\"\nVocê: \"Atualizando preço do celular para R$ 2000.\"\n\nCREATE (sem confirmação):\nUsuário: \"cadastrar produto: Notebook, Dell, 2500\"\nVocê: \"Produto 'Notebook' da marca 'Dell' com preço R$ 2500 será cadastrado.\"\n\n**BUSCA INTELIGENTE:**\nUsuário: \"buscar immpressora\"\nVocê: \"Encontrei 'impressora' - é isso que você estava procurando?\"\n\nUsuário: \"procurar notbook\"\nVocê: \"Encontrei 'notebook' - é este o produto?\"\n\n**NUNCA:**\n- Inventar dados faltantes\n- Fazer cálculos matemáticos\n- **Usar DELETE sem confirmação explícita**\n\n**SEMPRE:**\n- **Pedir confirmação APENAS para operações DELETE**\n- Proceder diretamente com CREATE, UPDATE, GET MANY e GET A ROW\n- Usar THINK para planejar ações quando necessário\n- Para CREATE, solicitar dados faltantes (nome, marca, preço)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        144,
        -192
      ],
      "id": "",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        112,
        128
      ],
      "id": "",
      "name": "Calculator"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Create a row in Supabase {{ $json.chatInput }}",
        "tableId": "products",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "name",
              "fieldValue": "={{ $fromAI('name', `Nome do produto`, 'string') }}"
            },
            {
              "fieldId": "price",
              "fieldValue": "={{ $fromAI('price',`Preco do produto`, 'number') }}"
            },
            {
              "fieldId": "brand",
              "fieldValue": "={{ $fromAI('brand',`Marca do produto`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        304,
        128
      ],
      "id": "",
      "name": "Create",
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "products",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        400,
        128
      ],
      "id": "",
      "name": "Get many",
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "keyValue": "={{ $fromAI('name', `Nomde do produto para busca`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        496,
        128
      ],
      "id": "",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "products",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "eq",
              "keyValue": "={{ $fromAI('name', `Nomde do produto`, 'string') }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "price",
              "fieldValue": "={{ $fromAI('price',`Preco do produto para atualizar`, 'number') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        592,
        128
      ],
      "id": "",
      "name": "Update",
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "products",
        "filters": {
          "conditions": [
            {
              "keyName": "name",
              "condition": "eq",
              "keyValue": "={{ $fromAI('name', `Nome do produto para excluir`, 'string') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabaseTool",
      "typeVersion": 1,
      "position": [
        688,
        128
      ],
      "id": "",
      "name": "Delete",
      "credentials": {
        "supabaseApi": {
          "id": "",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1,
      "position": [
        208,
        128
      ],
      "id": "",
      "name": "Think"
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        16,
        128
      ],
      "id": "",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -80,
        -192
      ],
      "id": "",
      "name": "When chat message received",
      "webhookId": ""
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -80,
        128
      ],
      "id": "",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get many": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Update": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Delete": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": [
    {
      "createdAt": "2025-10-29T20:25:36.201Z",
      "updatedAt": "2025-10-29T20:25:36.201Z",
      "id": "",
      "name": "Groq"
    }
  ]
}